body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30) fixed;
    background: linear-gradient(-45deg, #35577D, #141E30) fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.border {
    margin-left: 5px;
    margin-right: 0px;
    border: solid;
    width: 100%;
}

.ul .panel{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.panel {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    
}

.panel li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.panel li a:hover {
    color: lightblue;
    background-color: #0b2f59;
    transform: scale(1.05);
}

.panel li a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.content {
    width: 100%;
    padding: 20px;
}


ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: lightblue;
}

p {
    color: white;
    margin: 10px;
}

h2 {
    color: white;
    margin: 10px;
    margin-bottom: 30px;
}

h3 {
    color: white;
    margin-left: 10px;
}

.uvod{
    padding-top: 0px;
}



blockquote{
    color: white;
}



li {
    color: white;
}

hr {
    border: none;
    border-top: 1px solid;
    margin-top: 20px 0;
    width: 100%;
    color: white;
}

.stika {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 27%;
    margin-bottom: 40px;
}

.candat {
    float: right;
    width: 65%;
    margin-right: 65px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.kapr {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white; 
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px;
}

.kapr1 {
    float: right;
    width: 53%;
    margin-right: 270px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.amur {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white; 
    border-radius: 5px; 
    width: 30%;
    margin-bottom: 40px;
}

.amurbily {
    float: right;
    width: 52%;
    margin-right: 290px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.bentofagni {
    display: flex;
    margin-bottom: 50px;
}

.cejn {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid white;
    border-radius: 5px;
    width: 25%;
    margin-bottom: 0px;
}

.cejn1 {
    float: right;
    width: 19%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 80px;
    border: 2px solid white;
    border-radius: 5px;
}

.cejn2 {
    border: 2px solid white;
    border-radius: 5px;
    width: 40%;
    margin-top: 20px;
    margin-left: 70px;
}


.tolstolobik {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px;
}

.tolstolobik1{
    float: right;
    width: 32%;
    margin-right:750px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

/* Side bar */

.sidebar {
    width: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.sidebar li {
    height: 50px;
}

.sidebar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.3;
}

.sidebar a:hover {
    background-color: lightblue;
    transition: 0.3s;
    transform: scale(1.05);
}

.sidebar li:first-child {
    margin-right: auto;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL'0,'wght'400, ;
}

.menu-button {
    display: none;
}

@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        transition: ease;
    }
}

@media(max-width: 550px){
    .sidebar{
        width: 100%;
    }
}

.rybp {
    background-color: black;
    border-radius: 15px;
    transform: scale(1);
}

.rybp:hover {
    background-color: #0b2f59;
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
}