body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30) fixed;
    background: linear-gradient(-45deg, #35577D, #141E30) fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.border {
    margin-left: 5px;
    margin-right: 0px;
    border: solid;
    width: 100%;
}

.ul .panel{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.panel {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    
}

.panel li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.panel li a:hover {
    color: lightblue;
    background-color: #0b2f59;
    transform: scale(1.05);
}

.panel li a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px; 
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.content {
    width: 100%;
    padding: 20px;
}


ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: lightblue;
}

p {
    color: white;
    margin: 10px;
}

h2 {
    color: white;
    margin: 10px;
}

h3 {
    color: white;
    margin-left: 10px;
}

.uvod{
    padding-top: 0px;
}



blockquote{
    color: white;
}



li {
    color: white;
}

hr {
    border: none;
    border-top: 1px solid;
    margin-top: 20px 0;
    width: 100%;
    color: white;
}

.zacatek {
    margin-bottom: 30px;
}

h4 {
    color: white;
    margin-left: 10px;
}

.mojevypravaskalicka{
    margin-top: 40px;
}

.fotkyskalicka{
    display: flex;        
    margin-left: 20px;
    width: 50%;
    margin-bottom: 5px;
}

.jeseter120cm {
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

.kaprdruhavyprava {
    width: 50%;
    display: block;
    margin-left: 15px;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.jeseter140cm {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px; 
}

.konec {
    margin-bottom: 50px;
}

.mapaskalicka {
    width: 48.7%;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.ceny {
    margin-left: 30px;
}

.pravidla {
    margin-left: 30px;
}

.kaprsinclak1 {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 40px; 
}

.kapr93cm {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 35.7%;
    margin-bottom: 40px; 
}

.konec1 {
    margin-bottom: 20px;
}

.konec2 {
    margin-bottom: 20px;
}


/* Side bar */

.sidebar {
    width: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.sidebar li {
    height: 50px;
}

.sidebar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.3;
}

.sidebar a:hover {
    background-color: lightblue;
    transition: 0.3s;
    transform: scale(1.05);
}

.sidebar li:first-child {
    margin-right: auto;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL'0,'wght'400, ;
}

.menu-button {
    display: none;
}

@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        transition: ease;
    }
}

@media(max-width: 550px){
    .sidebar{
        width: 100%;
    }
}

.souk {
    background-color: black;
    border-radius: 15px;
    transform: scale(1);
}

.souk:hover {
    background-color: #0b2f59;
    transform: scale(1.05);
}

/* Skryj všechny revíry */
.revir {
    display: none;
}

/* Zobraz pouze aktivní revír */
.revir.active {
    display: block;
}


#reviryButtons {
    margin-left: 20px; /* Odsazení od levého kraje */
  }
  
  #reviryButtons button {
    width: 90px; /* Šířka tlačítka */
    height: 50px; /* Výška tlačítka */
    padding: 10px; /* Vnitřní odsazení */
    margin: 0 5px; /* Odsazení mezi tlačítky */
    background-color: #0b2f73; /* Barva pozadí */
    border: none; /* Bez rámečku */
    cursor: pointer; /* Ukazatel myši se změní na ukazatel ruky při najetí */
    border-radius: 5px; /* Zaoblené rohy */
  }
  
  #reviryButtons button svg {
    width: 100%; /* Šířka ikony */
    height: 100%; /* Výška ikony */
  }
  
  #reviryButtons button:hover {
    background-color: #0b2f59; /* Barva pozadí při najetí myši */
    transition: background-color 0.3s; /* Plynulý přechod barvy pozadí */
  }

  @media only screen and (max-width: 768px) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
}

/* Změna šířky a výšky mapy */
iframe {
    width: 40%; /* Šířka mapy bude 100% šířky rodičovského elementu */
    margin-left: 20px;
    margin-top: 0px;
}

/* Přidání okraje kolem mapy */
iframe {
    border: 5px solid black; /* Přidá černý okraj o šířce 2px kolem mapy */
}

/* Zaokrouhlení rohů mapy */
iframe {
    border-radius: 10px; /* Zaokrouhlí rohy mapy s poloměrem 10px */
}

/* Přidání stínu mapě */
iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Přidá stín mapě */
}

.iframe2 {
    width: 30%; /* Šířka mapy bude 100% šířky rodičovského elementu */
    height: 690px;
    margin: 20px;
    margin-bottom: 40px;
    border: 5px solid black; /* Přidá černý okraj o šířce 2px kolem mapy */
    border-radius: 10px; /* Zaokrouhlí rohy mapy s poloměrem 10px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Přidá stín mapě */
}

.iframe1 {
    height: 380px;
}