body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30) fixed;
    background: linear-gradient(-45deg, #35577D, #141E30) fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    margin-left: 5px;
    margin-right: 0px;
    border: solid;
    width: 100%;
}

.ul .panel{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.panel {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    
}

.panel li a {
    color: white; 
    text-decoration: none;
    transition: color 0.3s;
}

.panel li a:hover {
    color: lightblue;
    background-color: #331f44;
    transform: scale(1.05);
}

.panel li a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.content {
    width: 100%;
    padding: 20px;
}


ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: lightblue;
}

p {
    color: white;
    margin: 10px;
}

h2 {
    color: white;
    margin: 10px;
}

h3 {
    color: white;
    margin-left: 10px;
}

.uvod{
    padding-top: 0px;
}

.doba{
    padding-top: 30px;
}

.hajeni {
    padding-top: 20px;
}

blockquote{
    color: white;
}

.potrebneVeci{
    padding-top: 20px;
}

.pravidla{
    padding-top: 20px;
}

.miry {
    padding-top: 20px;
}

.miryryb{
    padding-left: 20px;;
}

li {
    color: white;
}

hr {
    border: none;
    border-top: 1px solid;
    margin-top: 20px 0;
    width: 100%;
    color: white;
}

.velkabystrice {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px;
}

.hymrys {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 40px;
}

.becva {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px;
}

.myval {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 5px;
}

.morava {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px;
}

.uhor {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 5px;
}

.svrcov {
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 40px; 
}

.zacatek {
    margin-bottom: 30px;
}